@-webkit-keyframes card-slide {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes card-slide {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes title-slide {
  from {
    opacity: 0;
    transform: translateY(-250px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes title-slide {
  from {
    opacity: 0;
    transform: translateY(-250px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #e2e6eb;
}

.app {
  background-color: #e2e6eb;
}

.page-title {
  text-align: center;
  padding: 50px 0;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  -webkit-animation: title-slide 1.5s;
          animation: title-slide 1.5s;
  background: linear-gradient(to bottom right, #606c88, #3f4c6b);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.repo-card {
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 10px;
  justify-content: end;
  background-color: #edf1f5;
  border: 1px solid grey;
  border-radius: 12px;
  height: 100px;
  height: auto;
  width: 600px;
  margin-bottom: 20px;
  -webkit-animation: card-slide 1.5s;
          animation: card-slide 1.5s;
}
.repo-card .avatar {
  width: 30%;
}
.repo-card .avatar img {
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  width: 60%;
  height: auto;
  padding: 10px 10px;
}
.repo-card .data {
  overflow: hidden;
  padding: 20px 10px;
  width: 100%;
  height: auto;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
}
.repo-card .data .repo-title {
  font-weight: 600;
  color: #525e7c;
}
.repo-card .data .repo-description {
  color: rgba(58, 62, 72, 0.6901960784);
}
.repo-card .data .repo-stats {
  padding: 10px;
  width: 100%;
  display: inline-block;
}
.repo-card .data .repo-stats .repo-stars, .repo-card .data .repo-stats .repo-issues {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  color: #edf1f5;
  border: 3px solid #edf1f5;
  border-radius: 0.7rem;
  background-image: linear-gradient(to bottom right, #b666ac, #e01bb5);
}
.repo-card .data .repo-stats .repo-stars {
  border-radius: 0.7rem;
  background-image: linear-gradient(to bottom right, #d4a626, #e06d1b);
}
.repo-card .data .repo-stats .repo-owner {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  background: linear-gradient(to bottom right, #224390, #3f4c6b);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=App.css.map */